Manifest.toml
.DS_Store
*.jl.cov
*.jl.*.cov
*.jl.mem
tmp
generated
build
.vscode
*.zarr
*.nc
*.tif
var

*.ipynb_checkpoints
# Ignore the benchmarking results
/benchmark/*.json
.benchmarkci
coverage/lcov.info

bonito
docs/build
.DS_Store
docs/src/.vitepress/cache
docs/src/.vitepress/dist
docs/Manifest.toml
docs/.vscode
docs/node_modules
docs/.vitepress/cache
docs/.vitepress/dist
docs/.DS_Store
docs/package-lock.json
*.tif