*.jl.cov
*.jl.*.cov
*.jl.mem
tmp
generated
build
.vscode
.DS_Store

docs/docs
docs/site
docs/build
docs/var
deps/build.jl
Manifest.toml
*.ipynb_checkpoints
# Ignore the benchmarking results
/benchmark/*.json
.benchmarkci
coverage/lcov.info
